@media screen and (max-width:576px){
    footer p{
        width: 80%;
        margin: 0 auto;
    }
    .sec5{
        flex-direction: column;
    }
    .sec5 .text {
        width: 100%;
        margin: 0 auto;
    }
    .sec5 .text input{
        width:210px;

    }
    .sec5 .text button{
        width:220px;
    }
    .sec5 .img{
        width: 80%;
        margin: 0 auto;
    }
    .box{
        flex-direction: column;
   
    }
    .hotel {
        width: 90%;
        height: auto;
        margin: 0 auto;

    }
    .sec4 p{
        width: 250px;
    }
    .map{
        width: 90%;
        height: auto;

    }
    .gaurantee{
        max-width:100%;
        height: 370px;

    }
    .gaurantee p{
        width: 220px;
    }
    .row{
        flex-direction: column;
        height: auto;
    }
    .sec2{
        flex-direction: column;
       
    }
    .sec5 .img{
        width: 100%;
    }
    .sec2 .text{
        width: 80%;
    }
    .sec2 .img{
        width: 100%;
        margin-top: 15px;
    }
    .sec1 {
        width:100%;
        height: 520px;
    }
    .sec1 .input{
        flex-direction: column;
        width: 70%;
    }
    .sec1 .input #where {
        width: 80%;
        margin: 0 auto;
    }
    .sec1 .input #when {
        width: 90%;
        margin: 0 auto;

    }
    .sec1 .input #option{
        width: 90%;
        margin: 0 auto;
    }
    .sec1 .input #find {
        width: 90%;
        margin: 0 auto;

    }
    .sec1 .text h1{
        font-size: 20px;
    }
    .destination-container img {
        width: 100%;
        margin: 0 auto;
    }
    nav {
        flex-direction: column;
    }
    .logo{
        width: 100%;
        text-align: center;
        padding-left: 50px;
    }
    .a{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

    }
    .feedback-card{
        flex-direction: column;
    }
}